<h1>All Gems</h1>

<%= form_tag ruby_gems_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], id: 'search_field' %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>

<ul class="list-group">
  <%= paginate @ruby_gems %>
  <% @ruby_gems.each do |rubygem| %>
    <li class="list-group-item"><%= link_to rubygem.name, ruby_gem_path(rubygem) %></li>
  <% end %>
</ul>

