<%= @ruby_gem.name %>
<%= @ruby_gem.description %>
<%= link_to "Delete", ruby_gem_path(@ruby_gem), method: :delete %>

<% @reviews.each do |review| %>
  <%= review.rating %>
  <%= review.body %>
<% end %>

<h3>Post a new review</h3>
<%= simple_form_for([@ruby_gem, @review]) do |f| %>
  <%= f.input :rating %>
  <%= f.input :body %>
  <%= f.button :submit %>
<% end %>
