<h1><%= @ruby_gem.name %></h1>
<%= @ruby_gem.description %>


<% if signed_in? %>
  <% if current_user == @ruby_gem.user || current_user.role == 'admin' %>
    <%= link_to "Edit", edit_ruby_gem_path(@ruby_gem) %>
    <%= link_to "Delete", ruby_gem_path(@ruby_gem), method: :delete %>
  <% end %>
<% end %>

<h3>Reviews</h3>
<div>
  <ul>
    <% @reviews.each do |review| %>
      <li>
        <%= review.rating %> <%= review.body %>
        <% if signed_in? && current_user.id == review.user_id%>
          <%=link_to 'Edit', edit_review_path(review) %>
          <%=link_to 'Delete', review, method: :delete %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <h3>Post a new review</h3>
  <% if signed_in? %>
    <%= simple_form_for([@ruby_gem, @review]) do |f| %>
      <%= f.input :rating %>
      <%= f.input :body %>
      <%= f.button :submit %>
    <% end %>
  <% else %>
    <p>You must be signed in to write a review.</p>
  <% end %>
</div>
